* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'tietoevry_sans_1regular';
}

@font-face {
    font-family: 'tietoevry_sans_1regular';
    src: url('./assests/fonts/TietoevrySans1-Regular.woff2') format('woff2'),
         url('./assests/fonts/TietoevrySans1-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tietoevry_sans_1medium';
    src: url('./assests/fonts/TietoevrySans1-Medium.woff2') format('woff2'),
         url('./assests/fonts/TietoevrySans1-Medium.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tietoevry_sans_1bold';
    src: url('./assests/fonts/TietoevrySans1-Bold.woff2') format('woff2'),
         url('./assests/fonts/TietoevrySans1-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg-gradient {
    background: linear-gradient(180deg, rgba(166, 42, 79, 1) 0%, rgba(131, 46, 118, 1) 50%, rgba(102, 50, 149, 1) 100%) !important;
    height: 22rem;
}

.navbar-nav {
    display: -webkit-inline-box;
}

ul.navbar-nav.gap-2 {
    color: white;
}

li.nav-item {
    font-size: 14px;
}

.round-img img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 2.2;
    font-size: 14px;
}

.right-icons .img-height {
    height: 20px;
    margin-top: 5px;
}


/* search */
.search-form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background: rgba(169, 60, 99, 255, .5);
    transition: all 0.3s ease;
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    right: 38px;
    font-size: 14px;
    background: none;
    color: #fff !important;
    height: 20px;
    border: none;
    outline: none;
}

.search-button {
    position: absolute;
    top: 6px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

::placeholder {
    color: #fff;
}

/* end */


/* sidebar */
.sidebar {
    width: 3.5rem;
    margin-left: 15px;
    border-radius: 10px;
    position: absolute;
    background-color:rgba(254,255,255,255);
    top: 18px;
    left: 0;
    z-index: 9999;
}

.background-box {
    background: linear-gradient(180deg, rgba(166, 42, 79, 1) 0%, rgba(131, 46, 118, 1) 50%, rgba(102, 50, 149, 1) 100%) !important;
    height: 32px;
    margin: 21px 10px 17px;
    border-radius: 5px;
}


/* dropdown */
.btn-secondary {
    background-color: rgba(169, 60, 99, .5) !important;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.15);
}

.margin-left {
    margin-left: 60px;
}

.wrapper{
    background-color: #f3f5f9;
    height: 90rem;
}

.btn-light{
    background-color: #fff !important;
}

/* table */


.card-table {
  margin-top: 5px;
  }
  
  ul.responsive-table {
    padding: 0 !important;
}
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  .responsive-table .col-1 {
    flex-basis: 40%;
  }
  .responsive-table .col-2 {
    flex-basis: 15%;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
  }
  .responsive-table .col-4 {
    flex-basis: 15%;
  }
  .responsive-table .col-5 {
    flex-basis: 15%;
  }
  .responsive-table .col-6 {
    flex-basis: 10%;
  }


  /* swipper button */
  .swiper-button-prev, .swiper-button-next{
    position: relative;
    height: 25px !important;
  }

  .swiper-button-prev:after, .swiper-button-next:after  {
    font-size: smaller !important;
    color: black !important;
}

.swiper-button-next {
    left: 132px;
    top: 17px;
}

.swiper-button-prev {
    left: 95px;
    top: 20px;
}

.bg-transparent .card{
    background: linear-gradient(180deg, rgba(166, 42, 79, 1) 0%, rgba(131, 46, 118, 1) 50%, rgba(102, 50, 149, 1) 100%) !important;
    color: white;
    border: 2px solid white;
}

.card{
    border: none;
}

.card-background-box {
    position: absolute;
    background: #fff;
    height: 200px;
    width: 80%;
    left: 10%;
    bottom: -10px;
    border-radius: 5px;
  }
    
/* pagination */
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #fff;
    color: black;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  large {
    font-size: 18px;
}




/* Media queries */

/* Mobile phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .bg-gradient, .wrapper {
        height: auto;
    }

    .card {
        margin-top: 30px;
    }

    .margin-top-md{
        margin-top: 12px;
    }

    .search-form {
        margin-top: 10px;
        left: 49%;
        width: 276px;
    }

    .responsive-table .col-1 {
        flex-basis: 15%;
      }

      .card-background-box{
        display: none;
      }
}

/* i-pad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .bg-gradient, .wrapper {
        height: auto;
    }

    .margin-left{
        margin-left: 22px;
    }

    .container, .container-md, .container-sm {
        max-width: 675px;
    }

    .card {
        margin-top: 30px;
    }

    .margin-top-md{
        margin-top: 12px;
    }

    .card-background-box{
        display: none;
      }
    
}

@media all and (min-device-width: 390px) and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      flex-basis: 50%;
      text-align: right;
    }
  }